<div ng-controller="ComposeCtrl">
	<h4 class="header">New Message</h4>
	<div class="container-fluid well well-small compose">
		<div class="row-fluid">
			<div class="span1">To</div>
			<div class="span11" class="recipients-container">
				<div class="recipients">
					<span class="label label-info"><i class="icon-shield" title="Recipient supports encryption"/> Jane Yes Encrypt (hello.net) <i class="icon-remove"/></span>
					<span class="label label-info label-no-pgp">John No Encrypt (somebody.net) <i class="icon-remove"/></span>
				</div>
				<span class="recipients-input"><input type="text" placeholder="Add recipients"/></span>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span11 offset1">
				<div class="alert alert-recipients">
					<h5>Warning!</h5>
					One or more recipients don't support encrypted messages
					<div class="pull-right">
						<input type="checkbox" name="vehicle" value="Bike"/>
						<span>Password Protect</span>						
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span1">Subject</div>
			<div class="span11">
				<input class="span12" type="text" placeholder="Enter a Subject">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="editor">
					<div ng-show="isEditor('text')">
						<textarea ng-model="message.body" class="span12" rows="10"></textarea>
					</div>
					<div ng-show="isEditor('pgp')">
						<textarea ng-model="message.encrypted" class="span12" disabled rows="10"></textarea>
					</div>
				</div>
				<div class="editorNav">
					<ul class="nav nav-list">
						<li ng-class="{active: isEditor('text')}"><a href="" ng-click="navigateEditor('text')">Edit</a></li>
						<li class="nav-header">Examine</li>
						<li ng-class="{active: isEditor('pgp')}"><a href="" ng-click="navigateEditor('pgp')">PGP Encrypted <i ng-show="isQueuedForEncryption()" class="icon-refresh"/></a></li>
						<li><a href="">Password</a></li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<span class="btn btn-primary">Send</span>
				<span class="btn">Draft</span>
				<span class="btn pull-right"><i class="icon-trash"/></span>
			</div>
		</div>
	</div>
</div>