<!--Body content-->
<div class="container-fluid well well-small" ng-controller="ComposeCtrl">
	<div class="row-fluid">
		<div class="span12">
			<h4 class="title">New Message</h4>
		</div>
	</div>
	<div class="row-fluid separate">
		<div class="span1">To</div>
		<div class="span11">
			<span class="btn btn-info">Natalie Love Winters (lovewinters.net) <i class="icon-remove"/></span>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span1">Subject</div>
		<div class="span11">
			<input class="span12" type="text" placeholder="Enter a Subject">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable tabs-right">
				<ul class="nav nav-tabs pull-right">
					<li class="active"><a href="#edit" data-toggle="tab">Edit</a></li>
					<li><a href="#encrypted" data-toggle="tab">Encrypted <i ng-show="isQueuedForEncryption()" class="icon-refresh"/></a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="edit">
						<textarea ng-model="message.body" class="span12" rows="10">Hello, I'm writing a message.</textarea>
					</div>
					<div class="tab-pane" id="encrypted">
						<textarea ng-model="message.encrypted" class="span12" disabled rows="10">
-----BEGIN PGP MESSAGE-----
Version: OpenPGP.js v.1.20130306
Comment: http://openpgpjs.org

wcBMAxwvaCt5LMBCAQf+Py9aGT1mgs17OCgM0/gqp1NqkRux4JfmvIMkGzc5
j72UwQuLBMa20cEpIgewnnxI3Y7kOS087Zw9vluuURd7oxViHgW9gge9b2Wd
n1YZkvoPDRKTJdwAz/Bhswbi1IhDJKcVzB+4T/TzYHMl/AxV7jXTVuuPNs7t
QSnRzCTq8dVpvNcOEY7v9Ahypt3C4NXa7J3OXk1cKxhwwrUZyq6Xqy8c3gJW
DGRRpI7gLk5+exYmlCMDqCXiIVZ30qd3eDGbSba1hxFCfSMyvvfdtYbiuFFk
S9Vm4zMw3cXjjuu1QJK3n5QIi3MuPW//9gq/OcAD1spUvg+K9VCis6LG3hKy
k9JVARO/+pQXNr50wsRgaXD6JBuYd6Imo/mh3lawjyOxn2gRzIpnkc7a+QrL
79PqH1gHfyXXUwKdXhrtlpxymvcVecXsNkFvQAmHS/2KpphgK+Rt0tzYBg==
=5ry7
-----END PGP MESSAGE-----

						</textarea>
					</div>
			  	</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<span class="btn btn-primary">Send</span>
			<span class="btn pull-right"><i class="icon-trash"/></span>
		</div>
	</div>
</div>