<div ng-controller="FolderCtrl">
	<div ng-hide="isReadingMessage()">
		<table model="messages" class="table table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th class="span3">From</th>
					<th class="span9">Subject</th>
					<th class="span9">Date</th>
				</tr>
			</thead>
			<tbody>
				<tr class="message" ng-repeat="message in messages | reverse" ng-class="{unread: isUnread(message)}" ng-click="readMessage(message)">
					<td>
						<div>
							<span ng-repeat="from in message.headers.from">
								<span>{{addressName(from)}}{{$last && '' || ', ' }}</span>
							</span>
						</div>
					</td>
					<td><div>{{message.headers.subject[0]}}</div></td>
					<td><div>{{message.headers.date[0]}}</div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="isReadingMessage()">
		<div ng-include="'views/mailbox/read.html'" />
	</div>
</div>