<div class="" id="loginModal" ng-controller="LoginCtrl">
	<div class="modal-header">
		<h3>Have an Account?</h3>
	</div>
	<div class="modal-body">
		<div class="well">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#login" data-toggle="tab">Login</a></li>
				<li><a href="#create" data-toggle="tab">Create Account</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane active in" id="login">
					<form class="form-horizontal">
						<fieldset>
							<div id="legend">
								<legend class="">Login</legend>
							</div>    
							<div class="control-group">
								<!-- Username -->
								<label class="control-label"  for="username">Username</label>
								<div class="controls">
									<div class="input-append">
										<input type="text" id="username" name="username" placeholder="" ng-model="user.username">
										<span class="add-on">@liam.com</span>
									</div>
								</div>
							</div>

							<div class="control-group">
								<!-- Password-->
								<label class="control-label" for="password">Password</label>
								<div class="controls">
									<input type="password" id="password" name="password" placeholder="" ng-model="user.password">
								</div>
							</div>

							<div class="control-group">
								<!-- Button -->
								<div class="controls">
									<button type="button" class="btn btn-success" ng-click="login()">Login</button>
								</div>
							</div>

							<div ng-click="googleAuth()">Login with Google</div>
						</fieldset>
					</form>                
				</div>
				<div class="tab-pane fade" id="create">
					<form id="tab">
						<label>Username</label>
						<div class="input-append">
							<input type="text" id="username" name="username" class="input-large" placeholder="" ng-model="user.username">
							<span class="add-on">@liam.com</span>
						</div>
						
						<!-- Optional Fields -->
						<label>First Name</label>
						<input type="text" value="" class="input-large" ng-model="user.firstName">
						<label>Last Name</label>
						<input type="text" value="" class="input-large" ng-model="user.lastName">

						<div>
							<button type="button" class="btn btn-primary" ng-click="register()">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>